@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Estilos generales */
body {
    font-family: "Montserrat", sans-serif;
    background-color: #f4f4f4; /* Fondo gris claro */
    color: #333; /* Texto oscuro */
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.container {
    width: 80%; /* Ancho del contenido principal */
    margin: auto;
    overflow: hidden;
}

/* Cabecera */
.header {
    background-color: #333; /* Fondo oscuro para la cabecera */
    color: #fff; /* Texto blanco */
    padding: 1rem 0;
    text-align: center;
}

.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.nav ul li {
    margin: 0 1rem;
}

.nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

.nav a:hover {
    color: #22D4F2; /* Color al pasar el ratón */
}

/* Presentación */
.presentacion {
    padding: 2rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.presentacion-contenido {
    width: 50%;
}

.presentacion-contenido h1 {
    font-family: "Krona One", sans-serif;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #22D4F2;
}

.presentacion-contenido p {
    font-size: 1.1rem;
}

.presentacion-imagen img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Proyectos */
.proyectos {
    background-color: #e9e9e9; /* Fondo gris claro */
    padding: 2rem 0;
    text-align: center;
}

.proyectos h2 {
    font-family: "Krona One", sans-serif;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #333;
}

.proyectos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    padding: 0 1rem;
}

.proyecto {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    text-align: left;
}

.proyecto img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.proyecto h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #333;
}

.proyecto p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.proyecto a {
    display: inline-block;
    background-color: #22D4F2;
    color: #fff;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.proyecto a:hover {
    background-color: #1aabc2;
}

/* Pie de página */
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    font-size: 1rem;
}

/* Media Queries para responsividad */
@media (max-width: 768px) {
    .presentacion {
        flex-direction: column;
    }
    .presentacion-contenido, .presentacion-imagen {
        width: 100%;
    }
}